<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>algorithm</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>相機如何觀看</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用於解決問題的一組依循指示或規則。例如，泡茶的一系列步驟可視為一種演算法。</string>
				<key>Title</key>
				<string>演算法</string>
			</dict>
		</dict>
		<key>augment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>相機如何觀看</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>加強或加入。*擴增實境*會呈現你加入了數位物件和影像的真實場景。</string>
				<key>Title</key>
				<string>擴增</string>
			</dict>
		</dict>
		<key>axis</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>相機如何觀看</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用於指示座標空間方向的假想線。你之前可能看過使用 *X* 和 *Y* 來標示座標軸的圖形。在處理 3D 空間時，你會看到 *X*、*Y* 和 *Z*。在本範例中，*X* 和 *Z* 表示左右和前後。*Y* 表示上下。
                </string>
				<key>Title</key>
				<string>座標軸</string>
			</dict>
		</dict>
		<key>feature point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>相機如何觀看</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>AR 場景中許多的其中一個小白點，表示 iPad 所辨識的*特徵*，它是要如何視覺化場景的重要因素。特徵點表示透過 iPad 相機鏡頭所「看見」的模型。</string>
				<key>Title</key>
				<string>特徵點</string>
			</dict>
		</dict>
		<key>plane</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>尋找平面</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>用來放置物品的平坦數位表面。</string>
				<key>Title</key>
				<string>平面</string>
			</dict>
		</dict>
		<key>point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>角色誕生了！</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>數學上空間中的一個特定的點。點通常用 *x* 值和 *y* 值表示，它們分別代表水平軸和垂直軸上的位置。</string>
				<key>Title</key>
				<string>點</string>
			</dict>
		</dict>
		<key>texture</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>玩樂時間！</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>在電腦生成的場景中，覆蓋在數位物件外的一層「皮膚」或包覆物。例如，Hopper 的身體上是綠色和粉紅色的紋理。</string>
				<key>Title</key>
				<string>紋理</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
