<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>algorithm</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ลักษณะที่กล้องเห็น</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>คำแนะนำหรือกฎแบบเป็นลำดับขั้นตอนสำหรับแก้ไขปัญหา ตัวอย่างเช่น รายการขั้นตอนต่างๆ ในการชงชาอาจเรียกได้ว่าเป็นอัลกอริทึม</string>
				<key>Title</key>
				<string>อัลกอริทึม</string>
			</dict>
		</dict>
		<key>augment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ลักษณะที่กล้องเห็น</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>เพื่อเพิ่มประสิทธิภาพหรือเพิ่ม *ความเป็นจริงเสริม* แสดงฉากในชีวิตจริงที่คุณได้เพิ่มวัตถุและภาพดิจิตอลลงไป</string>
				<key>Title</key>
				<string>เสริม</string>
			</dict>
		</dict>
		<key>axis</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ลักษณะที่กล้องเห็น</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>เส้นจินตภาพที่ใช้สำหรับระบุทิศทางในพื้นที่ว่างของพิกัด คุณอาจเห็นกราฟก่อนหน้านี้ที่ใช้ *X* และ *Y* เป็นติดป้ายแกน เมื่อจัดการกับพื้นที่ 3D คุณจะใช้ *X*, *Y* และ *Z* ในกรณีนี้ *X* และ *Z* แทนขวาและซ้าย และเลื่อนไปข้างหน้าและหลัง ส่วน *Y* แทนการขึ้นและลง
                </string>
				<key>Title</key>
				<string>แกน</string>
			</dict>
		</dict>
		<key>feature point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ลักษณะที่กล้องเห็น</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>หนึ่งในจุดสีขาวเล็กๆ หลายจุดที่คุณมองเห็นทั่วทั้งฉาก AR แสดงถึง*คุณสมบัติ*ที่ iPad ของคุณระบุว่าสำคัญต่อลักษณะการมองเห็นของฉาก จุดคุณสมบัติต่างๆ แสดงโมเดลของสิ่งที่ iPad ของคุณ “มองเห็น” ผ่านเลนส์กล้อง</string>
				<key>Title</key>
				<string>จุดคุณสมบัติ</string>
			</dict>
		</dict>
		<key>plane</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>เลื่อนไปตามระนาบ</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>พื้นผิวดิจิตอลที่ราบเรียบสำหรับตั้งสิ่งต่างๆ</string>
				<key>Title</key>
				<string>ระนาบ</string>
			</dict>
		</dict>
		<key>point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>ตัวละครเกิดขึ้นแล้ว!</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>จุดที่เฉพาะเจาะจงในพื้นที่ว่างในทางคณิตศาสตร์ โดยปกติแล้วจะแสดงจุดโดยใช้ค่า *x* และค่า *y* สำหรับแกนแนวนอนและแกนแนวตั้งตามลำดับ</string>
				<key>Title</key>
				<string>จุด</string>
			</dict>
		</dict>
		<key>texture</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>สนุกสนาน!</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>“ผิว” หรือสิ่งห่อหุ้มที่ปกคลุมวัตถุดิจิตอลในฉากที่สร้างด้วยคอมพิวเตอร์ ตัวอย่างเช่น ร่างกายของฮ็อปเปอร์สร้างขึ้นจากพื้นผิวสีเขียวและสีแดงอมชมพู</string>
				<key>Title</key>
				<string>พื้นผิว</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
